/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}


.menu{
	
	max-width: 23px;
	width: 100%;
	max-height: 234px;
	height: 100%;
	margin: 17px auto;
	padding: 12%;
	background-color: aqua;
	border-radius: 4px;
width: 48px;
height: 301px;
background-color: black;

filter: drop-shadow(8px 11px 15px rgba(0, 0, 0, 0.29));
}

.btn_icon
{
	background: #7fffd400;

}